In [21]:
import numpy as np 
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

#Feature: Read data from an external file, such as text, JSON, CSV, etc and use that data in your application
#Feature: Create and call at least 3 functions or methods, at least one of which must return a value that is used somewhere else in your code.
#Feature: Use pandas, matplotlib, and/or numpy to perform a data analysis project. Ingest 2 or more pieces of data, analyze that data in some manner, and display a new result to a graph, chart, or other display
#Feature: Create a dictionary or list, populate it with several values, retrieve at least one value, and use it in your program
#Feature: Visualize data in a graph, chart, or other visual representation of data

In [22]:
#Read from country_definitions.csv
df_countries = pd.read_csv('data/country_definitions.csv')

In [23]:
#Create a dictionary of country names to replace country NOC
countryDic = pd.Series(df_countries.region.values,index=df_countries.NOC).to_dict()
#df['Country00'] = df_countries['Country'].map(CountryDic) # Add one column for region using map() function

In [24]:
#Read csv files
def import_data(file_name, season):
    df = pd.read_csv(file_name)
    df["Season"] = season #Adding a column for the season of the Olympic games
    df["Sport"] = df["Discipline"].astype(str) + "-" + df["Event"].astype(str) # Add a column discribes the event
    df = df[['Year','Country', 'Sport', 'Medal', 'Season']] # Select only useful columns

    return df


df1 = import_data("data/summer.csv", "summer")
df2 = import_data("data/winter.csv", "winter")

df2.head(500)

     Year Country                     Sport   Medal  Season
0    1924     FIN  Biathlon-Military Patrol  Silver  winter
1    1924     FRA  Biathlon-Military Patrol  Bronze  winter
2    1924     SUI  Biathlon-Military Patrol    Gold  winter
3    1924     BEL        Bobsleigh-Four-Man  Bronze  winter
4    1924     GBR        Bobsleigh-Four-Man  Silver  winter
..    ...     ...                       ...     ...     ...
495  1964     AUT        Bobsleigh-Four-Man  Silver  winter
496  1964     CAN        Bobsleigh-Four-Man    Gold  winter
497  1964     GBR         Bobsleigh-Two-Man    Gold  winter
498  1964     ITA        Bobsleigh-Four-Man  Bronze  winter
499  1964     ITA         Bobsleigh-Two-Man  Bronze  winter

[500 rows x 5 columns]

In [25]:
#Combine the two data sets using outer join
combined_df = pd.merge(df1, df2, on='Year', how='outer')

combined_df.head(3000)

,Year,Country_x,Sport_x,Medal_x,Season_x,Country_y,Sport_y,Medal_y,Season_y
0,1896,AUT,Swimming-100M Freestyle,Silver,summer,NaN,NaN,NaN,NaN
1,1896,AUT,Swimming-400M Freestyle,Gold,summer,NaN,NaN,NaN,NaN
2,1896,GRE,Swimming-100M Freestyle For Sailors,Bronze,summer,NaN,NaN,NaN,NaN
3,1896,GRE,Swimming-100M Freestyle For Sailors,Gold,summer,NaN,NaN,NaN,NaN
4,1896,GRE,Swimming-100M Freestyle For Sailors,Silver,summer,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...
2995,1924,SWE,Swimming-400M Freestyle,Silver,summer,FIN,Speed skating-Combined (4 Events),Gold,winter
2996,1924,SWE,Swimming-400M Freestyle,Silver,summer,NOR,Speed skating-10000M,Bronze,winter
2997,1924,SWE,Swimming-400M Freestyle,Silver,summer,NOR,Speed skating-1500M,Bronze,winter
2998,1924,SWE,Swimming-400M Freestyle,Silver,summer,NOR,Speed skating-1500M,Silver,winter
2999,1924,SWE,Swimming-400M Freestyle,Silver,summer,NOR,Speed skating-5000M,Bronze,winter