In [19]:
import numpy as np 
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

#Feature_01: Read data from an external file, such as text, JSON, CSV, etc and use that data in your application
#Feature_02: Create and call at least 3 functions or methods, at least one of which must return a value that is used somewhere else in your code.
#Feature_03: Use pandas, matplotlib, and/or numpy to perform a data analysis project. Ingest 2 or more pieces of data, analyze that data in some manner, and display a new result to a graph, chart, or other display
#Feature_04: Create a dictionary or list, populate it with several values, retrieve at least one value, and use it in your program
#Feature_05: Visualize data in a graph, chart, or other visual representation of data

      Year Country_x Medal_x Country_y Medal_y
0     1896       AUT  Silver       NaN     NaN
1     1896       AUT    Gold       NaN     NaN
2     1896       GRE  Bronze       NaN     NaN
3     1896       GRE    Gold       NaN     NaN
4     1896       GRE  Silver       NaN     NaN
...    ...       ...     ...       ...     ...
2995  1924       SWE  Silver       FIN    Gold
2996  1924       SWE  Silver       NOR  Bronze
2997  1924       SWE  Silver       NOR  Bronze
2998  1924       SWE  Silver       NOR  Silver
2999  1924       SWE  Silver       NOR  Bronze

[3000 rows x 5 columns]

In [20]:
#Read from country_definitions.csv

df_countries = pd.read_csv('data/country_definitions.csv')

In [21]:
#Create new column with the joined 3 columns data

df_countries["Country"] = df_countries["NOC"].astype(str) + "_" + df_countries["region"].astype(str) + "_" +  df_countries["notes"].astype(str)
df_countries.head(100)

,NOC,region,notes,Country
0,AFG,Afghanistan,NaN,AFG_Afghanistan_nan
1,AHO,Curacao,Netherlands Antilles,AHO_Curacao_Netherlands Antilles
2,ALB,Albania,NaN,ALB_Albania_nan
3,ALG,Algeria,NaN,ALG_Algeria_nan
4,AND,Andorra,NaN,AND_Andorra_nan
...,...,...,...,...
95,IRL,Ireland,NaN,IRL_Ireland_nan
96,IRQ,Iraq,NaN,IRQ_Iraq_nan
97,ISL,Iceland,NaN,ISL_Iceland_nan
98,ISR,Israel,NaN,ISR_Israel_nan
99,ISV,"Virgin Islands, US",Virgin Islands,"ISV_Virgin Islands, US_Virgin Islands"

In [ ]:
def read_csv_file(file_name,season):
    df = pd.read_csv(file_name) #Read the file
    
    df = df[['Year','Country', 'Medal']] # Select only useful columns
    #new_name = 'Good Days'+'_'+ str(year) # Add year into the column name
    #df.rename(columns= {'Good Days':new_name}, inplace=True) # Rename the column 'Good Days'
    return df
    
    
df1 = read_csv_file ('data/summer.csv', 'summer')
df2 = read_csv_file ('data/winter.csv', 'winter')

#Combine the two data sets using outer join
combined_df = pd.merge(df1, df2, on='Year', how='outer')

combined_df.head(3000)